body {
	background-color: ghostwhite;
	font-family: Arial, sans-serif;
	color: dimgray;
    border: 3px solid gray;
    padding: 20px;
    margin: 20px;
    text-align: left;
}

h1, h2, h3 {
	color: indianred;
}

ul {
	list-style-type: ;
	margin: 0;
	padding: 0;
}

ol {
	margin-left: 1.5em;
}

img {
	max-width: 50%;
	height: auto;
	display: block;
	margin: 0 auto;
}

bull {
    font-weight: bold
}